html,
body, div {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-orange {
    background-color: #FF7043;
}
.bg-dark{
    background-color:#263238;
}

.d-flex {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.j-cc {
    justify-content: center;
}

.f-w {
    flex-wrap: wrap;
}

.a-ic {
    align-items: center;
}

.text-cl-white {
    color: white;
}

.login_container {
    height: 300px;
    background-color: #FFFFFF;
    padding: .8em 1em;
}

.login_container h1 {
    font-size: 2em;
    font-weight: 500;
    font-family: Roboto;
    text-align: center;
}

.input_container {
    display: flex;
    align-items: center;
}

.input_container i {
    position: absolute;
    padding: 0 8px;
}

.input_container input {
    padding: 0 2em;
    height: 38px;
    background-color: #ECEFF1;
    border: none;
    width: 100%;
}

.input_group .input_container:not(:last-child) {
    margin-bottom: 10px;
}
.btn{
    border: none;
    text-transform: uppercase;
    font-family: "Roboto Light";
    font-size: 16px;
    font-weight: bold;
    padding: .5em 1.8em;
    border-radius: 4px;
    cursor: pointer;
}
.btn-bg-blue{
    color: white;
    background-color: #0277BD;
}
.btn-bg-default{
    color: black;
    background-color: #FFFFFF;
}
.btn-bg-dark{
    color: white;
    background-color:#37474F;
}
.err-msg {
    color: red;
    padding: 5px;
}
.mg-t{
    margin-top: 1em;
}
.mg-r{
    margin-right: 1em;
}
#atom {
    position: absolute;
    top: 50%;
    left: 44%;
    height: 90px;
    width: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

#user {
    font-size: 22px;
    position: absolute;
    bottom: 16%;
}
#user h2{
    margin: 0;
    line-height: 38px;
}

#user span {
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    line-height: 17px;
}

.globe {
    height: 60px;
    width: 60px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    color: wheat;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #D76845;
    padding: 1em 0;
}
